<% @page_title = "Tools Menu" %>

<div class="menu">
	
  <h2>Tools</h2>
  <ul>
    <li><%= link_to("Jigsaw", '#') %></li>
    <li><%= link_to("The Harvester", '#') %></li>
    <li><%= link_to("MX Enumeration", '#') %></li>
  </ul> 
</div>