<% @page_title = "Tools Menu" %>

<div class="menu">

  <div class="page-header">
    <h2>Tools</h2>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "Website Cloner", clones_path %>
    </li>
  </ul> 
</div>