<% @page_title = "Tools Menu" %>

<div class="menu">
	
<h2>Tools</h2>
	<ul>
		<li><%= link_to("Email Address Harvester", '#') %></li>
		<li><%= link_to("MX Enumeration", '#') %></li>
		<li><%= link_to("SMTP Gateway Spoofing Test", '#') %></li>
	</ul> 
</div>