*.rbc
*.sassc
.sass-cache
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
.project
config/initializers/secret_token.rb
.idea
public/templates/*
public/uploads/**/*
public/deployed/**/*
Gemfile.lock
.DS_Store
dump.rdb
config/application.rb
config/database.yml