<% @page_title = "Edit Admin User" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="admin edit">
	<h2>Edit Admin User</h2>
	
	<%= form_for(:admin, :url => {:action => 'update', :id => @admin.id}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>
	
	<div class="form-buttons">
		<%= submit_tag("Update Changes") %>
	</div>

	<% end %>
</div>