.col {
}

.left {
    overflow-y: auto;
    width:      35%;
    height:     700px;
    float: left;
}

.right {
    float: left;
}

#mail {
    width:      64%%;
    height:     100%;
    position:   absolute;
    border:     solid 1px #ccc;
    border-top: none;
}

h1 {
    padding-right: 10px;
    padding-left:  5px;
}

.letter-opener .active,
.letter-opener .active:hover td {
    background: #ccc;
}

.letter-opener tr {
    cursor: pointer;
}

/*
[class^="icon-"], [class*=" icon-"] {
    background-image: url(<%=asset_path "glyphicons-halflings.png"%>);
}

.icon-white {
    background-image: url(<%=asset_path "glyphicons-halflings-white.png"%>);
}
*/
