<% @page_title = "Admin Menu" %>

<div class="page-header">
  <h2>Admin Menu</h2>
</div>

<div class='row'>
  <div class='col-md-4 col-sm-4'>
    <div class="menu">  
      <ul class="list-group">
        <li class="list-group-item"><%= link_to("Manage Admin Users", :controller => 'admin', :action => 'list') %></li>
        <li class="list-group-item"><%= link_to("Manage Global Settings", :controller => 'admin', :action => 'global_settings') %></li>   
      </ul> 
    </div>
  </div>
</div>

<div class='col-md-4 col-sm-4 center'>
  <%= image_tag('fish.jpg', :size => '300x300') %>
</div>
