<p><b>Website File:</b> Used to host the phishing website. You may upload individual files or a zip archive that will extract when campaign goes active.</p>

<p><b>Email:</b> HTML content that you would like to send for the phishing campaign. The file should be uploaded with a *.html.erb extension.</p>

<p><b>Image Attachment:</b> Used for embedding images within the Email body.</p>

<p><b>File Attachment:</b> Used for attaching a raw file to the Email.</p>