<br>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#recentBlasts">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#recentBlasts">
          Recent Blasts
        </a>
      </h4>
    </div>
    <div id="recentBlasts" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table" summary="Recent email blasts">
          <thead>
            <tr>
              <th>Started</th>
              <th>Test</th>
              <th>Targets</th>
              <th>SMTP Failures</th>
            </tr>
          </thead>
          <tbody>
          <% campaign.blasts.order("id DESC").each do |blast| %>
            <tr>
              <td><%= link_to "#{time_ago_in_words(blast.created_at)} ago", blast %></td>
              <td><%= blast.test? %></td>
              <td><%= blast.baits.size %></td>
              <td><%= blast.smtp_failures %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div><!-- panel body close -->
    </div><!-- recentBlasts panel close -->
  </div><!-- panel close -->
</div><!-- panel-group close -->