<%= error_messages_for(@campaign) %>

<table class="table borderless">
  <tr>
    <th>Name</th>
    <td><span class="ui-icon ui-icon-help" title='Name your campaign'></span></td>
    <td><%= f.text_field(:name, required: true, class: 'form-control') %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><span class="ui-icon ui-icon-help" title="Insert campaign details"></span></td>
    <td><%= f.text_field(:description, class: 'form-control') %></td>
  </tr>
</table>