<%= form_for(:campaign, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div>
    <br>
    <%= submit_tag("Create Campaign", :class => 'btn btn-primary') %>
  </div>
<% end %>
