<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Template Selection
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
      <table class='table borderless'>
      <tr>
        <th>Phishing Scenario</th>
        <td>
        <span class="ui-icon ui-icon-help" title="Choose the Template to assign to the campaign. If the template is not listed, you must create a new template first"></span>
        </td>
        <td>
        <%= f.select(:template_id, options_for_select(@templates.map { |p| [p.name, p.id] }, @campaign.template_id),{} , {class: 'form-control'}) %>
        </td>
      </tr>
      </table>
    </div>
  </div>
</div>