<% @page_title = "About" %>

<div class="page-header">
  <h2>Resources</h2>
</div>

<div id="listContainer">
  <ul>
    <li>
      <a href="http://www.phishingfrenzy.com" target="_blank">
        www.phishingfrenzy.com
      </a>
    </li>
    <li>
      <a href="http://www.pentestgeek.com" target="_blank">
        www.pentestgeek.com
      </a>
    </li>
    <li>
      <a href="http://github.com/pentestgeek/phishing-frenzy.git" target="_blank">
        github.com/pentestgeek/phishing-frenzy.git
      </a>
    </li>
  </ul>
</div>

<div class="page-header">
  <h2>Founder</h2>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="thumbnail">
      <%= image_tag('knoxville.jpg', :size => '100x100', class: 'img-thumbnail') %>
      <div class="caption text-center">
        <p class="lead">zeknox</p>
        <p><a href="https://twitter.com/zeknox" class="btn btn-default" role="button" target="_blank">Follow</a>
      </div>
    </div>
  </div>
</div>
