<% @page_title = "Home" %>

<h2>Dashboard</h2>

<h3>Recent Activity</h3>
<%= render_activities @activities %>

<h3>Launched Phishing Campaigns</h3>

<div class="container-fluid">
  <div class="row">
    <%= render partial: "campaign", collection: @campaigns %>
  </div>
</div>