/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require codemirror
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Application Public Stylesheet */
BODY
{
  padding-top: 50px;
}
A
{
  color: #808080;
}
A:hover
{
  color: #A41400;
}
/*Structure*/
#content
{
  padding-bottom: 30px;
}
#logout
{
  float: right;
  padding: 2px;
}
/*CRUD*/
.odd
{
  background: #E5E5E4;
}
.even
{
  background: none;
}
.notice, .alert
{
  text-align: center;
  background: #A41400;
  color: #FFFFFF;
  max-height: 5px;
  margin-top: 5px;
}

#flash-notice {
  line-height: 5px;
}

.back-link
{
  font-size: 0.8em;
  margin-bottom: 1em;
}

.action:hover
{
  background: #A41400;
  color: #FFFFFF;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
  padding-top: 5px;
}
#footer {
  background-color: #ca0002;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  }
}

/* navbar customizations */
.navbar .nav > li > a {
  float: none;
  padding: 15px 10px 15px;
  text-decoration: none;
}

/* navbar right padding */
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
  padding-right: 1em;
}

/* flash notifications */
#content > div.alert.alert-error,
#content > div.alert.alert-notice,
#content > div.alert.alert-alert,
#content > div.alert.alert-warning {
  line-height: 2px;
}

.alert-notice {
  background: rgb(72, 214, 89);
}

#errorExplanation {
  border-radius: 5px;
  border: 2px solid #ca0002;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #ca0002;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
