// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#campaigns > thead > tr > th:nth-child(1) {
  width: .5em;
}

#dashboard-campaign:hover > div {
  background-color: #F5F5F5;
}

.borderless > tbody > tr > th,
.borderless > tbody > tr > td {
  border: none;
}

#campaign-buttons .btn {
  margin-bottom: 1em;
}

#show-campaign-buttons .btn {
  margin-top: 1.5em;
}