// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard-campaign:hover > div {
  background-color: #F5F5F5;
}

#campaign-buttons .btn {
  margin-bottom: 1em;
}

#show-campaign-buttons .btn {
  margin-top: 1.5em;
}

#dashboard-campaign > div > div > h3 {
  white-space: nowrap;
  overflow: hidden;
}

.top-buffer { margin-top:5px; }

#accordion div.panel-heading {
  cursor: pointer;
}

#errorExplanation {
  border-radius: 5px;
  border: 2px solid #ca0002;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #ca0002;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
