// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slice path {
    stroke: #fff;
    stroke-width: 1px;
}
.textTop {
    font-family: 'Segoe UI';
    font-size: 12pt;
    fill: #bbb;
}
#barChart text {
  font: 10px sans-serif;
  text-anchor: end;
}
.colorBox {
  background-color:  #99FFCC;
  position: absolute;
}
.textItems {
  text-align:center;
  vertical-align:middle;
}

#victims-summary-table_wrapper {
  padding-bottom: 50px;
}

#stat-info H2 {
  color: #000000;
  text-align: center;
}

#stat-info {
  margin-top: 5px;
}

#victims-summary-table_wrapper {
  top: 670px; 
  position: absolute;
  width: 800px;
}

#actions-buttons {
  margin-top: 2px;
}

#report-options {
  top: 630px; 
  position: absolute;  
}

#template_name {
  overflow: hidden;
  white-space: nowrap;
}