<% @page_title = "Campaign Apache Logs" %>

<%= link_to '<< Back to Stats', :back, class: "back-link" %>

<h3>Hooked Browsers - <%= @campaign.name %></h3>
<hr>

<table id="hooked-browsers-summary-table" class="table-hover table-condense">
  <thead>
  <tr>
    <th>HB ID</th>
    <th>Type</th>
    <th>Version</th>
    <th>OS</th>
    <th>Platform</th>
    <th>IP</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>