<% @page_title = "Campaign Apache Logs" %>

<%= link_to '<< Back to Stats', :back, class: "back-link" %>

<!--TODO fix this, capparently campaign name gives error-->
<!--<h3>Hooked Browsers - < \%= @campaign.name %></h3>-->
<!--<hr>-->

<!-- This will be read by jQuery before making calls to the BeEF RESTful API. Ideally we should be using Erubis and
     have this information directly in JavaScript files. -->
<div id="beef_apikey" style="visibility: hidden"><%= @beef_apikey %></div>
<div id="beef_server_url" style="visibility: hidden"><%= @beef_server %></div>

<table id="hooked-browsers-summary-table" class="table-hover table-condense"
       style="border-bottom:1px solid #949494;" border="0" cellpadding="0" cellspacing="0" width="80%">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Version</th>
    <th>Operating System</th>
    <th>Platform (arch)</th>
    <th>IP</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>