<% @page_title = "IP Address Details" %>

<%= link_to("<< Back to Stats", {:action => 'stats', :id => params[:id]}, :class => 'back-link') %>

<div class='page-header'>
	<h2>IP Addresses: <%= @campaign.name %></h2>
</div>

<% counter = 1 %>
<% @apache_data[:ip_addresses].each do |ip| %>
	<table class='table table-striped'>
		<tr>
			<td>
				<p><%= simple_format(ip) %></p>
				<% counter += 1 %>
			</td>
		</tr>
	</table>
<% end %>