<% @page_title = "Harvested Passwords" %>

<%= link_to '<< Back to Stats', :back, class: "back-link" %>

<h3>Passwords Harvested - <%= @campaign.name %></h3>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Broswer</th>
      <th>IP Address</th>
      <th>Seen</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "password", collection: @visits %>
  </tbody>
</table>
