<h2>Passwords</h2>

<% counter = 1 %>
<% @passwd.each do |password| %>
	<table>
		<tr class="<%= cycle('odd', 'even') %>">
			<td width="800">
				<p><%= simple_format(password) %></p>
				<% counter += 1 %>
			</td>
		</tr>
	</table>
<% end %>