<div class="row">
  <div class="col-xs-12">
    <%= link_to '<< Back to List', :back %>
    <h3>Details: <%= @victim.email_address %></h3>

    <table id="victims-table" class="display table-hover table-condense">
      <thead>
        <tr>
          <th>Visit ID</th>
          <th>Browser</th>
          <th>IP Address</th>
          <th>Time</th>
          <th>Extra</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
