<% @page_title = "Phishing Visitors" %>

<%= link_to("<< Back to Stats", {:action => 'stats', :id => params[:id]}, :class => 'back-link') %>

<div class='page-header'>
	<h2>Visitors: <%= @campaign.name %></h2>
</div>

<% counter = 1 %>
<% @apache_data[:visitors].each do |visitor| %>
	<table>
		<tr class="<%= cycle('odd', 'even') %>">
			<td width="350">
			<p><%= simple_format(visitor) %></p>
			<% counter += 1 %>
		</td>
	</tr>
	</table>
<% end %>